.App {
    text-align: center;
    background-color: #d5f4e6;
}

.column {
    float: left;
    width: 33.33%;
}

.row {
    margin: auto;
    width: auto;
    border: 3px solid blue;
    padding: 10px;
    float: center;
    text-align: center;
    content: "";
    display: table;
    clear: both;
}

.NavBar {
    color: blue;
}

.button {
    background-color: #008CBA;
    font-size: 15px;
    border-radius: 12px;
    border: 2px solid blue;
}

.DoctorCardProfile {

}

.row {

}

.column {
    
}