.App {
    text-align: center;
    background-color: #d5f4e6;
}

.main-title {
    color: #008CBA;
    text-align: center;
    background-color: #d5f4e6;
    margin: auto;
    width: auto;
    border: 3px solid #015875;
    padding: 10px;
    float: center;
}

.italic-p {
    font-style: italic;
    font-family: "Courier New", Monospace;
}

.NavColumn {
    float: left;
}

.NavRow {
    margin: auto;
    width: auto;
    border: 3px solid #015875;
    border-radius: 25px;
    padding: 10px;
    float: center;
    text-align: center;
    content: ""; 
    display: table;
    clear: both; 
}

.NavBar {
    color: #008CBA;
}

.button {
    background-color: rgb(176, 224, 240);
    font-size: 15px;
    border-radius: 12px;
    border: 2px solid #015875;
}

.DoctorCardProfile {
    background-color: #93d9b3;
}

.row:after {
    content: "";
    display: table;
    clear: both
}

.column {
    float: left;
    width: 50%;
}

.accepting-patients {
    color: red;
    font-style: italic;
}

.success {
    color: green;
}