.App {
    text-align: center;
    background-color: #d5f4e6;
}

.main-title {
    color: #008CBA;
    text-align: center;
    background-color: #d5f4e6;
    margin: auto;
    width: auto;
    border: 3px solid #015875;
    padding: 10px;
    float: center;
}

.component-title {
    color: #008CBA;
    font-weight: bold;
}

.text-color {
    color: #008CBA;
}

.italic-p {
    font-style: italic;
    font-family: "Courier New", Monospace;
}

.underlined {
    text-decoration: underline;
    color: #008CBA;
}

.NavColumn {
    float: left;
}

.NavRow {
    margin: auto;
    width: auto;
    border: 3px solid #015875;
    border-radius: 25px;
    padding: 10px;
    float: center;
    text-align: center;
    content: ""; 
    display: table;
    clear: both; 
}

.NavBar {
    color: #008CBA;
}

.nav-button {
    background-color: #d5f4e6;
    font-size: 15px;
    border-radius: 12px;
    border: 2px solid #015875;
}

.warning-button {
    background-color: rgb(176, 224, 240);
    font-size: 15px;
    border-radius: 12px;
    border: 2px solid rgba(186, 0, 0, 0.678);
}

.edit-button {
    background-color: rgb(176, 224, 240);
    font-size: 15px;
    border-radius: 12px;
    border: 2px solid rgba(96, 0, 186, 0.678);
}

.save-button {
    background-color: rgb(176, 224, 240);
    font-size: 15px;
    border-radius: 12px;
    border: 2px solid green;
}

.button {
    background-color: rgb(176, 224, 240);
    font-size: 15px;
    border-radius: 12px;
    border: 2px solid #008CBA;
}

.round-textbox {
    border-radius: 12px;
}

.DoctorCardProfile {
    background-color: #93d9b3;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 49%;
}

.accepting-patients {
    color: red;
    font-style: italic;
}

.success {
    color: green;
}